{% extends 'base.html' %}

{% block title %}Cadatre-se{% endblock title %}

{% block content %}

<div class="container justify-content-center align-items-center p-4" style='background-color: rgba(0,0,0,0.2); max-width: 30%; border-radius: 20px'>
    <h1 class='mb-4'>Cadatre-se</h1>
<form action="{% url 'cadastro' %}" method='POST'>{% csrf_token %}
        {{form}}

        <br>
    <button class='btn btn-secondary' type="submit">Enviar</button>
    <p class='text-center' ><a style='text-decoration: none;' href="{% url 'login' %}">Fazer login</a></p>

</form>
</div>

{% endblock content %}