{% extends 'base.html' %}


{% block content %}
<h1 class='txt'>Agenda - {{user|title}}</h1>
<br><br>

<form action="{% url 'filtro_contatos' %}" class='d-flex'>
  <input type="search" class='form-control mx-1' value='{{request.GET.pesquisa}}' name='termo' placeholder='Digite a sua pesquisa' style='width: 30%;'>
  <a class='btn btn-success' href="{% url 'home' %}"><i class='fas fa-sync-alt'></i></a>
</form>

<br>

<button class='btn btn-success' data-bs-toggle="modal" data-bs-target="#modalContato" >
  <i class='fas fa-plus'></i>&nbsp;Contato
</button>

<button class='btn btn-success' data-bs-toggle="modal" data-bs-target="#modalCategoria" >
  <i class='fas fa-plus'></i>&nbsp;Categoria
</button>
<br>
<br>
<table class="table table-borderless table-hover" id='example'>
    <thead class="table-secondary">
      <tr>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>Telefone</th>
        <th>Email</th>
        <th>Categoria</th>
      </tr>
    </thead>
    <tbody  class="bg-light">
    {% for contato in contatos%}
      <tr>
        <th>
          
            <a class='txt-b' href="{% url 'contato' contato.id%}" style='text-decoration: none;'>
                {{contato.nome}}
            </a>
        </th>
        <td>{{contato.sobrenome}}</td>
        <td>{{contato.telefone}}</td>
        <td>{{contato.email}}</td>
        <td>{{contato.categoria}}</td>
      </tr>
    {%empty%}
    <p class='txt'>Sem registros</p>
    {% endfor %}

    </tbody>
  </table>

<!--MODAL PAGINATOR-->
{% include 'parciais/paginator.html' %}



{% endblock content %}   