
/* CONFIG INITIAL*/

html,
body{
    /*
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)),url("../img/frontend2.jpg");
    background-position: center 0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
    background: rgb(4,0,36);
    background: linear-gradient(292deg, rgba(4,0,36,1) 32%, rgba(0,18,119,1) 66%, rgba(0,0,0,1) 91%);   
    height: 100%;
    margin: 0;
    max-width: 100%;

 /*
    overflow: hidden;*/
}

.wrapper{
    min-height: 100%;    
    margin-bottom: -50px;

}

#footer,
.push{
    margin-top: auto;
    height: 50px;
    
}

#navbar-content{
    text-align: center;
    color: #fff;
    margin-left: 30px;
}




#navbar-links{
    text-align: center;
    color: #fff;
    margin-right: 30px;
}

.foto{
    border: 1px solid transparent;
    border-radius: 20px;
    max-width: 250px;
    height: auto;
}


/* DATA TABLES*/

/* PAGINAÇÃO*/
.dataTables_paginate{
    margin-top: -30px !important;
}


.dataTables_filter{
    display: none;    
}

.dataTables_length{
    float: right !important;
    margin-top: 10px !important;
}

.dt-buttons{
    margin-bottom: 10px !important;
}

.txt{
    color: #fff;
    font-family: 'Roboto', sans-serif;
}